{
  "presets": ["babel-preset-env", "babel-preset-stage-0", "babel-preset-react"],
  "plugins": ["babel-plugin-transform-class-properties", "babel-plugin-jsx-control-statements"],
  "env": {
    "development": {
      "plugins": [
        [
          "react-transform",
          {
            "transforms": [
              {
                "transform": "react-transform-hmr",
                "imports": ["react"],
                "locals": ["module"]
              }
            ]
          }
        ]
      ]
    }
  }
}
