.pageButton {
  border: 0;
  background-color: transparent;
  font-size: 12px;
  min-width: 30px;
  height: 40px;
  padding: 5px;
}

.pageButton:hover {
  cursor: pointer;
}

.pageButton:focus {
  outline: 0;
 }

.currentPageSelected {
  background: #0D5DB8;
  min-width: 30px;
  width: 30px;
  height: 30px;
  color: snow;
  font-weight: bold;
}

.pageStepButton {
  border: 0;
  background-color: transparent;
  font-size: 12px;
  padding: 12px;
}

.pageStepButton:hover {
  cursor: pointer;
}

.pageStepButton:focus {
   outline: 0;
}

.arrowIcon {
  padding: 0 10px;
}

.mainPagerContent {
  width: 100%;
  text-align: center;
  background-color: #ededed;
}

.mainPagerContent:hover {
  cursor: default;
 }

.showResults {
  display: inline-block;
  width: 65%;
  text-align: left;
   font-size: 12px; 
}

.pagerContent {
  margin-left: auto;
  padding: 10px;
  display: inline-block;
  width: 35%;
  text-align: right;
}

.dropDown {
font-size: 12px;
}

.textField {
  border: 0;
}

.showing {
  margin-right: 6px;
}

.results {
  margin-left: 8px;
}
