.table {
  font-family: 'Roboto', sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size: 12px;
}

.headerCell {
  background-color: #0d5db8;

  padding: 16px 5px;

  letter-spacing: 0.25px;
  font-size: 14px;
  font-weight: 500;
  color: white;
}

.headerCell:not(:last-of-type) {
  border-right: 1px solid rgb(74, 144, 226);
}

.sortableColumnHeaderCell {
  cursor: pointer;
}

.cell {
  border-bottom: 1px solid #ddd;
  border-top-color: #ddd;
  padding: 5px;
  text-align: center;
}

.row {
  transition: background-color 0.3s;
  cursor: pointer;
}

.row:hover {
  background-color: #d2d7d3;
  transition: background-color 0.1s;
}

.selectedRow {
  background-color: #d2d7d3;
  transition: background-color 0.1s;
}

.circularProgress {
  margin: auto;
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -25px;
  top: 32%;
  bottom: 68;
}
